<h1><%= @player_1 %> vs. <%= @player_2 %></h1>
<h2><%= @player_1 %>: 60HP</h2>
<br>
<h2><%= @player_2 %>: 60HP</h2>


  <!-- <label for="Player_1"><%= @player_1%>'s' Hit Points</label>
    <progress id="Player_1" value='100' max='100'></progress>
  <label for="Player_2"><%= @player_2%>'s Hit Points</label>
    <progress id="Player_2" value='100' max='100'></progress>
